[submodule "basic-autosize-textarea"]
	path = basic-autosize-textarea
	url = git@github.com:basic-web-components/basic-autosize-textarea.git
[submodule "components/basic-element"]
	path = components/basic-element
	url = git@github.com:basic-web-components/basic-element.git
[submodule "components/basic-autosize-textarea"]
	path = components/basic-autosize-textarea
	url = git@github.com:basic-web-components/basic-autosize-textarea.git
[submodule "components/basic-filter-by-text"]
	path = components/basic-filter-by-text
	url = git@github.com:basic-web-components/basic-filter-by-text.git
[submodule "components/basic-text-extractor"]
	path = components/basic-text-extractor
	url = git@github.com:basic-web-components/basic-text-extractor.git
[submodule "components/basic-seamless-iframe"]
	path = components/basic-seamless-iframe
	url = git@github.com:basic-web-components/basic-seamless-iframe.git
[submodule "components/basic-framed-content"]
	path = components/basic-framed-content
	url = git@github.com:basic-web-components/basic-framed-content.git
[submodule "components/basic-button"]
	path = components/basic-button
	url = git@github.com:basic-web-components/basic-button.git
[submodule "components/basic-list-box"]
	path = components/basic-list-box
	url = git@github.com:JanMiksovsky/basic-list-box.git
[submodule "components/basic-modes"]
	path = components/basic-modes
	url = git@github.com:basic-web-components/basic-modes.git
[submodule "components/basic-boilerplate"]
	path = components/basic-boilerplate
	url = git@github.com:basic-web-components/basic-boilerplate.git
[submodule "components/basic-sequence-navigator"]
	path = components/basic-sequence-navigator
	url = git@github.com:JanMiksovsky/basic-sequence-navigator.git
[submodule "components/basic-sequence"]
	path = components/basic-sequence
	url = git@github.com:basic-web-components/basic-sequence.git
