[submodule "basic-autosize-textarea"]
	path = basic-autosize-textarea
	url = git@github.com:basic-web-components/basic-autosize-textarea.git
[submodule "components/basic-element"]
	path = components/basic-element
	url = git@github.com:basic-web-components/basic-element.git
[submodule "components/basic-autosize-textarea"]
	path = components/basic-autosize-textarea
	url = git@github.com:basic-web-components/basic-autosize-textarea.git
[submodule "components/basic-filter-by-text"]
	path = components/basic-filter-by-text
	url = git@github.com:basic-web-components/basic-filter-by-text.git
[submodule "components/basic-text-extractor"]
	path = components/basic-text-extractor
	url = git@github.com:basic-web-components/basic-text-extractor.git
[submodule "components/basic-seamless-iframe"]
	path = components/basic-seamless-iframe
	url = git@github.com:basic-web-components/basic-seamless-iframe.git
[submodule "components/basic-framed-content"]
	path = components/basic-framed-content
	url = git@github.com:basic-web-components/basic-framed-content.git
[submodule "components/basic-button"]
	path = components/basic-button
	url = git@github.com:basic-web-components/basic-button.git
[submodule "components/basic-list-box"]
	path = components/basic-list-box
	url = git@github.com:basic-web-components/basic-list-box.git
[submodule "components/basic-modes"]
	path = components/basic-modes
	url = git@github.com:basic-web-components/basic-modes.git
[submodule "components/basic-boilerplate"]
	path = components/basic-boilerplate
	url = git@github.com:basic-web-components/basic-boilerplate.git
[submodule "components/basic-sequence"]
	path = components/basic-sequence
	url = git@github.com:basic-web-components/basic-sequence.git
[submodule "components/basic-slideshow"]
	path = components/basic-slideshow
	url = git@github.com:basic-web-components/basic-slideshow.git
[submodule "components/basic-selector"]
	path = components/basic-selector
	url = git@github.com:basic-web-components/basic-selector.git
[submodule "components/basic-lazy-create"]
	path = components/basic-lazy-create
	url = git@github.com:basic-web-components/basic-lazy-create.git
[submodule "components/basic-calendar-day"]
	path = components/basic-calendar-day
	url = git@github.com:basic-web-components/basic-calendar-day.git
[submodule "components/basic-calendar-month-days"]
	path = components/basic-calendar-month-days
	url = git@github.com:basic-web-components/basic-calendar-month-days.git
[submodule "components/basic-calendar-month"]
	path = components/basic-calendar-month
	url = git@github.com:basic-web-components/basic-calendar-month.git
[submodule "components/basic-calendar-week"]
	path = components/basic-calendar-week
	url = git@github.com:basic-web-components/basic-calendar-week.git
[submodule "components/basic-days-of-week"]
	path = components/basic-days-of-week
	url = git@github.com:basic-web-components/basic-days-of-week.git
[submodule "components/basic-month-and-year"]
	path = components/basic-month-and-year
	url = git@github.com:basic-web-components/basic-month-and-year.git
[submodule "components/basic-month-name"]
	path = components/basic-month-name
	url = git@github.com:basic-web-components/basic-month-name.git
[submodule "components/basic-culture-selector"]
	path = components/basic-culture-selector
	url = git@github.com:basic-web-components/basic-culture-selector.git
[submodule "components/basic-carousel"]
	path = components/basic-carousel
	url = git@github.com:basic-web-components/basic-carousel.git
[submodule "components/basic-spread"]
	path = components/basic-spread
	url = git@github.com:basic-web-components/basic-spread.git
[submodule "components/basic-swipeable-pages"]
	path = components/basic-swipeable-pages
	url = git@github.com:basic-web-components/basic-swipeable-pages.git
[submodule "components/basic-stack"]
	path = components/basic-stack
	url = git@github.com:basic-web-components/basic-stack.git
[submodule "components/basic-fade-overflow"]
	path = components/basic-fade-overflow
	url = https://github.com/basic-web-components/basic-fade-overflow.git
